@media only screen and (min-width : 320px) and (max-width : 768px) {
    #footer-container {
        align-items: start !important;
    }

    #brand-name {
        font-size: larger !important;
        padding: 5px 0px;
    }
}

#footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    height: 200px;
    background-color: lightgray;
}

#icons-container {
    display: flex;
    column-gap: 15px;
    padding: 5px 5px;
}

#brand-name {
    font-size: xx-large;
    font-weight: 100;
    padding-top: 10px;
    color: #000;
}

.footer-link {
    text-decoration: none;
    color: inherit;

    &:hover {
        transform: scale(1.05);
    }
}