#top-nav-root {
    background-color: lightgrey !important;
    height: 60px;
}

.container-fluid {
    height: 100%;
}

.current {
    background-color: black;
    color: #FFF;
    border-radius: 5px;

    &>a {
        color: #FFF !important;
        text-decoration: none;
    }
}

#bank-logo {
    width: 150px;
    height: 87px;
}

li.nav-item {
    padding: 7px 12px;
    font-weight: 100;
    font-size: medium;
    align-content: center;

    &>a {
        color: #000;
        text-decoration: none;
    }
}

#top-navbar {
    height: 100%;
}

#top-navbar li:hover {
    background-color: #000;
    color: #FFF;
    cursor: pointer;
    border-radius: 5px;
    &>a {
        color: #FFF;
        text-decoration: none;
    }
}


@media only screen and (min-width : 320px) and (max-width : 1024px) {
    ul.navbar-nav {
        position: relative;
        z-index: 1;
        margin-top: 12px;
        background-color: lightgrey;
    }

    .container-fluid {
        padding-left: 1px;
    }

    li.nav-item {
        text-align: right;
        border-radius: 0px;
    }

    li.nav-item:hover {
        background-color: grey;
    }

    .navbar-brand,
    span#separator {
        display: none;
    }
}