.nav-link:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: all 200ms ease-in;
}

.nav-link {
    transition: all 200ms ease-out;
}

#top-nav-root {
    background-color: lightgrey;
    height: 60px;
}

.current {
    background-color: black;
    color: white !important;
    border-radius: 5px;
}

#bank-logo {
    width: 150px;
    height: 87px;
}

#top-navbar li {
    padding: 5px 12px;
    color: #000;
    font-weight: 100;
    font-size: medium;
}

#top-navbar li:hover {
    background-color: #000;
    color: #FFF;
    cursor: pointer;
    border-radius: 5px;
}


@media only screen
and (min-width : 320px)
and (max-width : 1024px){
    #navbar {
        background-color: whitesmoke;
    }
    li.nav-item {
        text-align: right;
    }
}