.nav-link:hover, .nav-link:active {
    background-color: #000;
    color: #fff !important;
    border-radius: 5px;
}

.current {
    background-color: black;
    color: white !important;
    border-radius: 5px;
}

img {
    width: 80px;
    height: 50px;
}

@media only screen
and (min-width : 320px)
and (max-width : 1024px){
    #navbar {
        background-color: whitesmoke;
    }
    li.nav-item {
        text-align: right;
    }
}