input[type=text],
[type=submit],
[type=radio],
[type=email]
 {
    width: 100%;
    padding: 5px 20px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #000;
    color: #FFF;
}

input[type=submit]:hover {
    background-color: #FFF;
    color: #000;
}

#enq {
    height: 540px;
    width: 470px;
}

.heading {
    font-size: small;
}

.message {
    padding: 0px 15px;
}

.form-group > input {
    border: solid 1px;
}