input[type=text],
[type=submit],
[type=email],
select {
    width: 100%;
    padding: 5px 20px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.heading::after {
    content: " *";
    color: red;
    font-size: medium;
}

input[type=submit] {
    background-color: #000;
    color: #FFF;
}

input[type=submit]:hover {
    background-color: #FFF;
    color: #000;
}

#enq {
    height: 540px;
    width: 470px;
}

#enquire {
    /* background-color: #FFF; */
    opacity: 80%;
    margin: 15px 0px;
    padding: 15px 25px;
    width: 550px;
    border: 1px solid;
}

.heading {
    font-size: small;
}

.message {
    padding: 0px 15px;
}

.error-message {
    color: red;
    padding: 0px 2px;
}

.form-group>input {
    border: solid 1px;
}

.head {
    font-size: x-large;
    font-weight: 500;
    padding: 0px 2px;
}

.sub-head {
    font-size: large;
    font-weight: 200;
    padding: 0px 2px;
}

#call-img-container {
    display: flex;
    margin-top: 90px;
}

@media only screen and (min-width : 320px) and (max-width : 768px) {
    #call-img-container {
        display: none;
    }

    #enquire {
        width: 350px;
        margin: 15px 15px;
        padding: 15px 15px;
    }

    .head {
        padding: 0px 10px;
    }

    .sub-head {
        font-size: medium;
        padding: 0px 10px;
    }
}