@media only screen and (min-width : 320px) and (max-width : 1024px) {
    #background-vertical {
        display: block;
        background-size: 495px;
        left: 5px;
    }

    #background-horizontal {
        display: none;
    }

    .info {
        background-color: lightgrey;
        padding: 5px;
        opacity: 88%;
    }

    .info-head {
        font-size: 70px;
        font-weight: 500;
        font-family: ui-serif;
        padding: 0px 2px;
        color: cadetblue;
    }

    #home {
        background-image: url('./images/gradient_design_2_vertical.png');
        background-size: 470px;
        left: 5px;
    }
}

@media only screen and (min-width : 1025px) {
    #background-vertical {
        display: none;
        background-size: 495px;
        left: 1px;
    }

    #background-horizontal {
        display: block;
    }

    .info-head {
        font-size: 90px;
        font-weight: 500;
        font-family: ui-serif;
        padding: 0px 2px;
        color: cadetblue;
    }

    #home {
        background-image: url('./images/gradient_design_2.PNG');
        left: 5px;
    }
}