.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* background-image: url("./img7.jpg"); */
    background-size: cover;
}