.nav-link:hover {
    /* background-color: #FFF; */
    /* color: #000 !important; */
    /* border-radius: 5px; */
    cursor: pointer;
    transform: scale(1.02);
    transition: all 200ms ease-in;
    /* scale: 1.05; */
}

.nav-link {
    transition: all 200ms ease-out;
}

.nav-link:active {

}

nav {
    background-color: #000;
}

.current {
    background-color: black;
    color: white !important;
    border-radius: 5px;
}

img {
    width: 170px;
    height: 50px;
}

@media only screen
and (min-width : 320px)
and (max-width : 1024px){
    #navbar {
        background-color: whitesmoke;
    }
    li.nav-item {
        text-align: right;
    }
}